 <%= link_to 'New account', new_account_path %>

<h1>Accounts:</h1>

<table>
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Balance</th>
    <th>Transactions</th>
  </tr>

  <% @accounts.each do |account| %>
    <tr>
      <td data-href="<%= account_path(account) %>"><%= account.id %></td>
      <td data-href="<%= account_path(account) %>"><%= account.first_name %></td>
      <td data-href="<%= account_path(account) %>"><%= account.last_name %></td>
      <td data-href="<%= account_path(account) %>"><%= account.balance %></td>
      <td data-href="<%= account_path(account) %>"><%= account.unique_transactions.size %></td>
      <td><%= link_to 'Edit', edit_account_path(account) %></td>
      <td><%= link_to 'Destroy', account_path(account),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
